body {
    font-size: 18px;
    line-height: 1.5;
}

header, nav, main, footer{
    margin: 1.25rem auto;
    max-width: 760px;
}

header, footer {

   background-color: blue;
   color: azure;
   text-align: center;
   padding: 1.5rem;
   box-shadow: 5px 10px #888888;
}

image {

    flex-flow: left;
    margin: 10px;
    border: 1px solid #000;
    box-shadow: 5px 10px #888888;

}
