@media only screen and (min-width: 32rem){
    .logo img{
     width: 250px;
    }
    #hamburgerBtn{
     float: right;
     margin-top: -4.3rem;   
 }
 
 nav ul{
     margin-bottom:-240px;
     Right:130%; 
     font-size:18px;
 }
 
 .icon img{
     width:40px;
    float:right;
     margin-right: 85px;
     margin-top:-60px;
     
 }
 
 .twitter_icon img{
     width:40px;
    float:right;
     margin-right: 145px;
     margin-top:-60px;
 }
 
 body{
     font-size: 18px;
 }
 
 .small, .large{
     display: none;
 }
 
 .medium{
     display: block;
 }
 
 .grid{
     display:grid;
     grid-template-columns: 1fr 1fr;  
     margin-bottom: 10px;
 }
 .grid h3{
     display: block;
     font-size: 20px;
 }
 
 .left img{
     float: left;
     margin: 20px;
     margin-top: 45px;
 
 }
 
 .left p, .left h3{
     text-align: left;
     line-height: 1.5rem;
 
 }
 
 .right p{
     margin-bottom: -10px;;
 }
 
 .right{
     text-align: center;
     margin-top: 20px;
 }
 
 #info{
     position:absolute;
     top:50%;
     left:50%;
     transform: translate(-50%, -50%); 
     background-color: rgb(0,0,0,0.3);
     padding:0.3em;
     
 }
 
 #info h2{
     border-bottom:transparent;
     font-size: 20px;
     margin-left:10px;
     margin-right:10px;
     margin-bottom:15px;
     padding-bottom:0px ;
 }
 
 #info p{
     border-top: 1px solid white;
     padding-top:15px;
     margin-top: 0px;
     font-size: 18px;
     margin-right:40px;
     margin-left:40px;
 }
 
 /* MAIN */
 
 main{
     display: grid;
     grid-template-columns: repeat(6, 1fr);
     grid-gap: 20px; 
 }
 
 #hero{
     grid-column: 1/7;
     grid-row: 1/2;
     margin-bottom: 0;
 }
 
 #news{
     grid-area: 2/1/3/7;
     margin-top:0px;
 }
 
 
 #join{
     display:block;
     grid-area: 4/1/5/ span 6;
 }
 
 #event{
     grid-area:5/1/6/5;
     margin-right: 0;
 }
 
 #weather{
     grid-area: 5/5/6/7;
     margin-left:0;
 }
 
 #spotlights{
     grid-area:3/1/4/ span 6;
     display:flex;
     padding:20px;
     color:#333;
     border:rgb(159, 158, 158) 1px solid;
     margin: 0 10px 0 10px;
 }
 
 #spotlight1{
     margin: 0 auto;
     width: 100%;
     margin-right:10px;  
 }
 
 #spotlight2{
     margin: 0 auto;
     width: 100%;
 }
 
 #spotlight3{
     margin: 0 auto;
     width: 100%;
 }
 
 main section{
     margin: 0 10px 0 10px;
 }
 
 #today{
     display:block;
 }
 
  #hero button{
     padding: 1em;
     font-size: 1.2em;
 } 
 
 #hero button:hover{
     font-size: 1.25em;
 } 
 
 
 .myphoto{
     transition: transform .4s;
     margin-bottom:30px;
 }
 
 .myphoto:hover{
     /* -ms-transform: scale(1.1); 
     -webkit-transform: scale(1.1);  */
     transform: scale(1.02);
 }
 
 #discover h1{
     font-size: 30px;
     margin-top: 30px;
     margin-bottom: 30px;
     width: 30%;
     border-top: rgba(12, 88, 159, 0.6) 4px double; 
     border-bottom: rgba(12, 88, 159, 0.6) 4px double;
 }
 
 
 main#joinpage{
     display:block;
     margin: 0 3rem -15px 3rem;
 }
 
 main.Thankyou{
     display:block
 }
 
 form label.top, form div{
     font-size: 0.9rem;
 }
 
 .backToTop{
     height: 60px;
     width: 60px;
     font-size: 28px;
 }
 
 .backToTop i{
     top: 13px;
     left: 19px;
 }
 
 
 }
 