/* ---------- MAIN ------------- */

main {
    text-align: left;
}




/* ---------- FORM ------------- */

form {
    border-radius: 50px;
    background: linear-gradient(145deg,#ff6464, #ffbd67);
    box-shadow:  30px 30px 55px #f8fe85,
                -30px -30px 55px #5be7a9;

    margin: 50px 10px;
    padding: 15px;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 0.5rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}

form input.submitBtn {
    border: none;
    background-color: #22222c;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}


@media only screen and (min-width: 64rem) {
    form label.sbs {
        padding: .4rem 0;
    }

    form {
        
    padding: 20px;
    margin: 50px;
    }
}