main {
    display: block;
    text-align: center;
    padding: 30vh;
}

main h2 {
    font-size: 200%;
}

main p {
    font-size: 150%;
}

@media only screen and (min-width: 600px) {
    main {
        padding: 20vh;
    }
}